.background-color {
    background-color: #f4efb7;
}


.register-box {
    max-width: 800px !important;
    width: 100% !important;
}

.log {
    align-items: center;
    background-color: #e9ecef;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
}